NODE_ENV                # Server environment

WEB_ORIGIN              # Web URL (e.g. http://localhost:{client_origin})
SERVER_PORT             # Server port (eg 4000)

DATABASE_URL            # Postgres database URL

REDIS_HOST
REDIS_PORT

COOKIE_SECRET           # Cookie parser secret
ACCESS_SECRET           # JWT Access token
REFRESH_SECRET          # JWT Refresh token

USER_GMAIL              # Sender's Gmail
GOOGLE_REFRESH_TOKEN    # Gmail OAuth Refresh token
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET

GEMINI_API_KEY
