API_ENV                 # API environment
API_PORT                # API server port (eg 4000)

WEB_ORIGIN              # Web URL (e.g. http://localhost:{client_origin})

# Ensure to use sslmode=verify-full instead of sslmode=require or other aliases

DATABASE_URL            # Postgres database URL.

COOKIE_SECRET           # Cookie parser secret
ACCESS_SECRET           # JWT Access secret
REFRESH_SECRET          # JWT Refresh secret

# Details must all be for the same gmail

USER_GMAIL              # Sender's gmail
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_REFRESH_TOKEN

# Upstash kv store for rate-limit

UPSTASH_REDIS_REST_URL
UPSTASH_REDIS_REST_TOKEN
